* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(9, 9, 54);
}
.container {
  width: 100%;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
}
.min-card {
  width: 20px;
  height: 20px;
  /*
  background-color: rgb(53, 51, 51);
  border: 1px solid rgb(9, 9, 54);
  */
  
}
